<p>game works!</p>
<div> Game notations </div>
<ng-container *ngFor="let moves of notation">
    {{moves}}
</ng-container>
<button (click)="handle_player_move()">Next Move</button>
<div></div>

<div>This is the game component</div>
<app-board 
[receive_player_move]="send_player_move"
(passing_to_parent_event)="method_to_execute_by_parent($event)"
 (send_move)="receive_move($event)"> 

</app-board>
<!-- <app-board [player_one]="player_one";[passing_to_parent_event]="method_to_execute_by_parent()"> </app-board> -->
