
<div> Game notations </div>
<div>{{player_one}} vs {{player_two}}</div>
<ng-container *ngFor="let moves of notation">
    {{moves}}
</ng-container>
<app-board 
[receive_player_move]="send_player_move"
(passing_to_parent_event)="method_to_execute_by_parent($event)"
 (send_move)="receive_move($event)"> 

</app-board>
<!-- <app-board [player_one]="player_one";[passing_to_parent_event]="method_to_execute_by_parent()"> </app-board> -->
<!-- this are the test buttons <button (click)="handle_player_move()">Player Next Move</button> -->